*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(25, 25, 25);
    color: rgb(139, 139, 139);
    font-family: 'Bebas Neue';

  
    
}
.no-scroll{
    overflow:auto;
    width: 100%;
    height: 100%;
}
.no-scroll::-webkit-scrollbar{
    display: none;
}
.homepage{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1.875em 5%;
    color: #aaa;
}

.btn{
    background: none;
    border: 3px solid #aaa;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.btn:hover{
    background: orangered;
    transition: .3s;
    color: #000;
    opacity: 70%;
    left: 0;
}

.info-center{
 position: relative;
 top: 5.875em;
 padding: 1.8em;
 left: 26px;

}
.info-center h1{
    font-size: 2.5rem;
    line-height: 48px;
    color: rgb(139, 139, 139);

}
.bottom__end{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: .87em 1.87em ;
    position: relative;
    top: 13em;
}
.bottom-left-info{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
   
    
    color: #aaa;

}
.center-bottom-page h3{
    z-index: 1;
    
}
.center-bottom-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaa;
    
    width: 20%;
    
    
    align-items: center;
    justify-content: center;
    
}
.empty{
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
 .center-bottom-page .fa-arrow-down{
    font-size: 1.275rem;
    position: absolute;
    top: 2.375em;
    left: 49%;
    width: 16%;
    animation: scrolled 1.5s infinite linear;
    background-color: transparent;
}
#text{
    position: absolute;
    
    top: -73px;
    font-size: 16px;
    height: 160px;
    color: #aaa;
    padding-right: 25px;
    animation: animate 5s linear infinite;

   
}
span{
    position: absolute;
    transform-origin: 0 80px;
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*--end of section 1*/
.projects{
    
    height: 100vh;
    width: 100%;
}
.projects .header{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 1.875em 5%;
    color: rgb(139, 139, 139);
}
.right-header a{
    text-decoration: none;
}
.project-showcase{
   width: 100%;
   padding:2.8em 3.875em;
}
hr{
    background-color: rgb(139, 139, 139);
    height: 2px;
    border: none;
    border-radius: 10px;
}
.first-project h5{
    opacity: 50%;
    position: relative;
    left: 95px;
}
.first-project{
    
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-project a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 3.6rem;
}
.second-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(139, 139, 139);
}
.second-project a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 3.6rem;
}
.second-project h5{
    position: relative;
    left: 75px;
    opacity: 50%;
}
.third-project{
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.third-project a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 3.6rem;
} 
.third-project h5{
   position: relative;
   left: 30px;
    opacity: 50%;
}
.fourth-project{
    display: flex;
    justify-content: space-between;
    color: #36454F;
    align-items: center;
}
.fourth-project a{
    color: rgb(139, 139, 139);
    font-size: 3.6rem;
    text-decoration: none;
}
.fourth-project h5{
    opacity: 50%;
    position: relative;
    left: 85px;
}
.fifth-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #36454F;
}
.fifth-project a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 3.6rem;

}
.fifth-project h5{
    opacity: 50%;
    position: relative;
    left: -30px;
}
.sixth-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #36454F;
}
.sixth-project h5{
    opacity: 50%;
    position: relative;
    left: -20px;
}
.sixth-project a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 3.6rem;
}
.interest{
    position: absolute;
    top: 100.78em;
    width: 100%;
    height: 100vh;
    display: flex;

    justify-content: space-between;
}
.interets{
    padding-left: 5%;
    font-size: 1.5rem;
    height: 35vh;
}
.tech{
    padding-right: 5%;
    top: 12em;
    position: relative;
    font-size: 1.5rem;
    line-height: 35px;
    height: 41vh;
    width: 25%;
    
}
.tech h2{
    padding-bottom: 20px;
}
.myself-about{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 150.78em;
    display: flex;
    flex-direction: column;
    
}
.footer-header{
    height: 35vh;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 5%;
    font-size: 2rem;

}
.contact-me{
    height: 40vh;
    width: 70%;
    position: relative;
    padding: 5% 5%;
}
.contact-me h2{
    font-size: 3.5rem;
   
    
}
.contact-me a{
    text-decoration: none;
}
.footer{
    height: 23vh;
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer a{
    text-decoration: none;
    font-size: large;
    background-color: transparent;
    
}
.footer h3{
    padding-top: 2em;
    position: relative;
    left: 16.827em;
    padding-left: 5%;
    
   
}
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
 
}
@media screen and (min-device-width: 375px)
and (max-device-width: 425px) {
   
.empty{
    display: none;
}
.info-center h1{
    font-size: 16px;
    line-height: 20px;
    position: relative;
    left: -31px;
}
.center-page{
    display: none;
}
.center-bottom-page {
    display: none;
}
.projects{
    position: relative;
    top: -241px;
}
.first-project h5 {
    display: none;
}
.first-project h4{
    display: none;
}
.second-project h5{
    display: none;
}
.second-project h4{
    display: none;
}
.third-project h4{
    display: none;
}
.third-project h5{
    display: none;
}
.fourth-project h4{
    display: none;
}
.fourth-project h5{
    display: none;
}
.fifth-project h4{
    display: none;
}
.fifth-project h5{
    display: none;
}
.sixth-project h5{
    display: none;
}
.sixth-project h4{
    display: none;
}
.project-showcase{
    padding-left: 29px;
}
}


    






